[submodule "src/userver"]
	path = src/userver
	url = https://github.com/ondra-novak/userver
[submodule "src/userver_jsonrpc"]
	path = src/userver_jsonrpc
	url = https://github.com/ondra-novak/userver_jsonrpc
[submodule "src/imtjson"]
	path = src/imtjson
	url = https://github.com/ondra-novak/imtjson
[submodule "src/couchit"]
	path = src/couchit
	url = https://github.com/ondra-novak/couchit
[submodule "src/shared"]
	path = src/shared
	url = https://github.com/ondra-novak/ondra_shared
